@model IEnumerable<CarListingViewModel>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@car.ImageUrl" class="card-img-top" alt="@car.Brand @car.Model - @car.Year">
            <div class="card-body">
                <h5 class="card-title">@car.Brand @car.Model (@car.Year)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">See More</a>
            </div>
        </div>
    }
</div>